<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body hx-headers=''>
<h3>
  Search Contacts
  <span class="">
    Searching...
  </span>
</h3>
<input class="form-control" type="search"
       name="search" placeholder="Begin Typing To Search Users..."
       hx-post=""
       hx-trigger=""
       hx-target=""
       hx-indicator="">


  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody id="" class="">
    </tbody>
  </table>
</body>

</html>